/* https://camo.githubusercontent.com/821de8c7df9eb3b554b6c97b51696e47b8613781/68747470733a2f2f692e70696e696d672e636f6d2f6f726967696e616c732f37642f34632f36362f37643463363664306236343634373861323937656532316537636438616565352e6a7067 */
.top {
    justify-content: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 170px;
    margin-bottom: 25px;
}


.top-title {
    margin-bottom: 20px;
    text-decoration: underline;
}


.top-box-box {
    background-color: black;
    height: 40px;
    width: 40px;
    margin: 16px 0;
}

.top ul {
    list-style: none;
    font-size: 10px;
    margin-left: 38px;
}

.second{
    margin-left: 0;
    padding-inline-start: 0px;
}

.top-box .third{
    margin-left: 0;
    padding-inline-start: 0px;
}

.header {
    display: flex;
    justify-content: center;
    display: grid;
    grid-auto-rows: 173px;
    grid-auto-columns: 224px;
    grid-gap: 7px;
    grid-template-areas: "a b b"
                         "a b b"
                         "c d e"
                         "f d g"
                         "h h i"
                         "h h i"
                         "j j k"
                         "j j l"
                         "z z x"
                         "z z v";

    
}
.box-content {
    margin: 15px;
}


.header-top {
    font-size: 11.5px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.5);
    
}

.header-title {
    margin-bottom: 20px;
    margin-top: 10px;
}

.header-content {
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 3px;
}

.space {
    margin-bottom: 20px;
}

.box-content input {
    height: 30px;
    width: 173px;
    padding-left: 8px;
}

.box-content .subscribe {
    background-color: yellow;
    height: 29px;
    text-align: start;
    padding-top: 8px;
    padding-left: 8px;
    margin-top: 13px;
}

.v .box-content {
    margin: 6;
    

}

.a .header-bottom {
    font-size: 10px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 180px;
}

.h .header-content {
    color: rgba(0, 0, 0, 0.5);
}

.h .header-bottom {
    font-size: 10px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 1);
    margin-top: 210px;
}

.box {
    background-color: rgb(184, 134, 184);
    
}

.a {
    grid-area: a;
    background-color: #d5ecf4;
}

.b {
    grid-area: b;
    height: 333px;
    background-image: url(https://cdn.pixabay.com/photo/2018/10/04/14/22/donut-3723751__340.jpg);
    background-size: cover;
}

.c {
    grid-area: c;
    background-color: #e5efd9;
}


.d {
    grid-area: d;
    margin-bottom:10px;
    background-image: url(https://cdn.pixabay.com/photo/2017/05/29/16/42/woman-2354157__340.jpg);
    background-size: cover;
    background-position: center;
}

.e {
    grid-area: e;
    background-color: #fcf8c0;
}

.f {
    grid-area: f;
    background-color: #ebebeb;
}

.g {
    grid-area: g;
    background-color: #ebebeb;
}

.h {
    grid-area: h;
    background-color: #f8e1f7;
}
.i {
    grid-area: i;
    height: 333px;
    background-image: url(https://cdn.pixabay.com/photo/2016/06/16/16/44/clock-1461689__340.jpg);
    background-size: cover;
    background-position: center;
}
.j {
    grid-area: j;
    background-image: url(https://cdn.pixabay.com/photo/2015/05/31/11/48/earphones-791309__340.jpg);
    background-size: cover;
    background-position: center;
    
}

.k {
    grid-area: k;
    background-image: url(https://cdn.pixabay.com/photo/2015/03/22/17/42/grid-684983__340.jpg);
    background-size: cover;
    background-position: center;
}

.l {
    grid-area: l;
    background-image: url(https://image.shutterstock.com/image-vector/set-cloud-icons-trendy-flat-260nw-421269250.jpg);
    background-size: cover;
    background-position: center;
}

.z {
    grid-area: z;
    background-color: #e5efd9;
}

.x {
    grid-area: x;
    background-image: url(https://cdn.pixabay.com/photo/2017/07/04/17/30/animals-2471943__340.jpg);
    background-size: cover;
    background-position: center;
}

.v {
    grid-area: v;
    background-color: #fcf8c0;
}

.bottom {
    margin-top: 40px;
    padding-bottom: 40px;
}

.bottom-box {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-auto-columns: 150px;

}

.bottom-content {
    font-size: 8px;
    list-style: none; 
    margin-left: 50px;   
}

.ab, .cd, .ef, .gf {
    margin: 0;
}

.ab {
    padding-inline-start: 65px;
}

.cd {
    padding-inline-start: 35px;
}

.ef {
    padding-inline-start: 0;
}